* {
	margin: 0px;
	padding: 0px;
	
}
body {
	font-size: 100%;
	background: #7c0c44;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #d10a46;
	text-align: center;
	border: 1px solid #b0c4de;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #b0c4de;
	background: #010f3c;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
	
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
	color: white;

}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;

}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #f7931b;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #d10a46; 
  	color: #d10a46; 
  	background: #CCC; 
    border-radius: 5px; 
  	text-align: left;
}
.success {
  color: #010f3c; 
  background: #7c0c44; 
  border: 1px solid ##d10a46;
  margin-bottom: 20px;
}
